@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#start {
    background-image: url("foto2.jpeg");
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
    box-shadow: inset 0px -15px 10px rgba(0, 0, 0, 0.548);
    margin-bottom: 80px;
}

#start h1 {
    color: rgb(255, 56, 56);
    text-align: center;
    padding-top: 8em;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2.2em;
}

#video {
    margin-left: 30vw;
}

#video p {
    font-size: 2em;
    font-family: cursive;
}

#imagem2 {
    background-image: url("foto3.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

#text {
    margin-top: 8em;
    padding-top: 40px;
    font-size: 1.1em;
    margin-left: 40px;
    line-height: 2em;
    margin-bottom: 20px;
    font-family: cursive;
    color: white;
    padding-bottom: 40px;
}

footer {
    margin-top: 10px;
    text-align: center;
    background-color: red;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.1em;
    font-family: cursive;
    color:  white;
}